In [1]:
import mlflow
import pandas as pd

In [2]:
from pathlib import Path

uri = "http://127.0.0.1:5000"

mlflow.set_tracking_uri(uri)

In [3]:
model_name = "ann"
model_version = "champion"

model = mlflow.pyfunc.load_model(f"models:/{model_name}@{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: sklearn-model
  flavor: mlflow.sklearn
  run_id: e8195474cab34731b27335fbb13ef972

In [4]:
data_path = '../data/lending_data.csv'
df = pd.read_csv(data_path)

In [5]:
input_data = df.loc[df["default.payment.next.month"] == 1].sample(10).drop("ID", axis=1)
input_data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
3287,30000.0,2,1,1,30,2,2,2,3,2,...,13394.0,13036.0,15019.0,1300.0,1500.0,0.0,0.0,2200.0,0.0,1
3201,20000.0,1,1,1,30,1,2,2,2,2,...,10044.0,9739.0,10571.0,2000.0,0.0,1855.0,0.0,1000.0,397.0,1
17235,40000.0,2,3,1,39,2,2,2,2,2,...,24510.0,24811.0,24274.0,1700.0,1600.0,1000.0,1000.0,0.0,2000.0,1
2494,30000.0,1,3,1,26,1,2,0,0,0,...,21155.0,18413.0,0.0,0.0,1500.0,1150.0,900.0,0.0,0.0,1
28059,80000.0,2,3,1,35,1,2,2,2,2,...,73788.0,74463.0,72834.0,3300.0,3100.0,4204.0,2790.0,0.0,3043.0,1
19520,30000.0,2,2,1,35,2,2,2,2,2,...,24422.0,23688.0,19626.0,0.0,3500.0,1319.0,0.0,800.0,1610.0,1
18550,150000.0,2,1,2,24,-2,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
13440,40000.0,2,2,2,23,2,2,2,2,2,...,36266.0,36935.0,33441.0,1900.0,0.0,3200.0,1350.0,0.0,1400.0,1
29838,190000.0,1,2,1,43,0,0,0,0,0,...,90373.0,91980.0,94502.0,4000.0,4000.0,5000.0,4000.0,4000.0,5000.0,1
1449,60000.0,2,3,1,50,0,0,0,0,0,...,29095.0,17636.0,31406.0,3300.0,2000.0,900.0,889.0,21500.0,3600.0,1

In [6]:
model.predict(input_data.drop("default.payment.next.month", axis=1))

array([1, 1, 1, 1, 0, 1, 0, 1, 0, 0])