In [4]:
import mlflow
import pandas as pd

In [5]:
from pathlib import Path

uri = "http://127.0.0.1:5000"

mlflow.set_tracking_uri(uri)

In [6]:
model_name = "random_forest"
model_version = "champion"

model = mlflow.pyfunc.load_model(f"models:/{model_name}@{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: sklearn-model
  flavor: mlflow.sklearn
  run_id: ae9f7f221b5248558dd51f6f2121a315

In [7]:
data_path = '../data/lending_data.csv'
df = pd.read_csv(data_path)

In [8]:
input_data = df.loc[df["default.payment.next.month"] == 1].sample(10).drop("ID", axis=1)
input_data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
14694,200000.0,2,2,2,30,-1,0,0,-1,-1,...,12674.0,14068.0,6468.0,12366.0,11000.0,12674.0,14445.0,6867.0,399.0,1
7081,200000.0,2,2,1,36,-1,0,0,0,0,...,195062.0,195156.0,192436.0,50000.0,7000.0,15000.0,7500.0,7500.0,10000.0,1
26167,80000.0,2,2,1,35,3,2,0,0,0,...,56592.0,52766.0,48208.0,9.0,2203.0,3006.0,3005.0,2005.0,2000.0,1
14312,300000.0,2,1,1,56,1,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
10655,240000.0,2,2,1,38,1,2,-1,2,2,...,189.0,1648.0,1459.0,899.0,198.0,0.0,1459.0,0.0,1250.0,1
3909,220000.0,1,2,2,30,-1,-1,2,-1,2,...,221876.0,223986.0,204957.0,1552.0,0.0,221876.0,7500.0,4.0,10000.0,1
21206,70000.0,1,1,1,44,1,2,2,2,0,...,11482.0,8896.0,10074.0,0.0,3116.0,0.0,1000.0,2000.0,0.0,1
13884,300000.0,1,1,2,34,1,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
11964,160000.0,2,2,1,42,0,0,0,0,0,...,119529.0,122059.0,111378.0,8450.0,5289.0,4022.0,4195.0,3986.0,3958.0,1
19536,30000.0,2,3,1,44,2,0,0,0,0,...,30146.0,26371.0,27567.0,1452.0,2000.0,1500.0,933.0,2000.0,3000.0,1

In [9]:
model.predict(input_data.drop("default.payment.next.month", axis=1))

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 1])